[submodule "13-ft_containers"]
	path = 14-ft_containers
	url = git@github.com:mgkgng/42Projects-ft_containers.git
[submodule "10-CPP_Modules"]
	path = 10-CPP_Modules
	url = git@github.com:mgkgng/42Projects-CPP_Modules.git
[submodule "11-cub3D"]
	path = 12-cub3D
	url = git@github.com:mgkgng/42Projects-cub3D.git
[submodule "01-libft"]
	path = 01-libft
	url = git@github.com:mgkgng/42Projects-libft.git
[submodule "02-get_next_line"]
	path = 02-get_next_line
	url = git@github.com:mgkgng/42Projects-get_next_line.git
[submodule "03-ft_printf"]
	path = 03-ft_printf
	url = git@github.com:mgkgng/42Projects-ft_printf.git
[submodule "06-pipex"]
	path = 06-pipex
	url = git@github.com:mgkgng/42Projects-pipex.git
[submodule "07-push_swap"]
	path = 07-push_swap
	url = git@github.com:mgkgng/42Projects-push_swap.git
[submodule "13-Inception"]
	path = 13-Inception
	url = git@github.com:mgkgng/42Projects-Inception.git
[submodule "05-FdF"]
	path = FdF
	url = git@github.com:mgkgng/42Projects-FdF.git
[submodule "09-Minishell"]
	path = 09-Minishell
	url = git@github.com:mgkgng/42Projects-Minishell.git
[submodule "08-Philosophers"]
	path = 08-Philosophers
	url = git@github.com:mgkgng/42Projects-Philosophers.git
