[submodule "13-ft_containers"]
	path = 13-ft_containers
	url = git@github.com:mgkgng/42Projects-ft_containers.git
[submodule "10-CPP_Modules"]
	path = 10-CPP_Modules
	url = git@github.com:mgkgng/42Projects-CPP_Modules.git
[submodule "11-miniRT"]
	path = 11-miniRT
	url = git@github.com:mgkgng/42Projects-miniRT.git
